<form method="post" action="/productos_venta/add">
	<div class="contenedor_add_envio">
		<h3 class="C-PTT titulo_add">Agregar Venta Producto</h3>
		<div class="btns_contenedor_add">
			<button type="submit" class="btn-verde">Registrar</button>
			<div class="btn-info" onclick="multipleProductoVenta()">Producto +</div>
		</div>
		<img src="/img/granos 7.jpg">
	</div>
	
	<div id = "producto-multiple" class="contenedor_add">

	<div class="inputs_productos_contenedor">
		<div class="input_producto_add_contenedor">
			<input type="texto" name="producto" class="input_producto_add" placeholder="producto" required>
		</div>
		<input type="number" name="precio_venta" placeholder="precio">
		<input type="text" name="marca" placeholder="marca">
		<input type="text" name="descripcion" placeholder="descripcion">
		<input type="text" name="ubicacion_venta" placeholder="ubicacion">
		<input type="number" name="piso_venta" placeholder="piso">
		<input type="number" name="posicion_venta" placeholder="posicion">
	</div>

	</div>
	
</form>


