
<div class="contenedor_inicio">

<div class="tarjeta_inicio">
	<h3>Productos en venta</h3>
	<a href="/productos_venta">Entrar</a>
	<img src="/img/granos 1.jpg">
</div>

<div class="tarjeta_inicio">

	<h3>Bodega</h3>
	<a href="/productos_bodega">Entrar</a>
	<img src="/img/frutos secos 2.jpg">
</div>

<div class="tarjeta_inicio">
	<h3 class="prueba">Traslado</h3>
	<img src="/img/granos 5.jpg">
	<a href="/productos_traslado">Entrar</a>
</div>

<div class="tarjeta_inicio">
	<h3>Lista de traslado</h3>
	<a href="/productos_traslado/lista">Entrar</a>
	<img src="/img/granos3.jpg">
</div>

<div class="tarjeta_inicio tarjeta_inicio_inactiva">
	<h3>Inventario</h3>
	<a href="/">Entrar</a>
	<img src="/img/granos 6.jpg">
</div>

</div>