<div class="contenedor_menu">

	<div class="links_principales_menu">
		<a href="/">Inicio</a>

		<div class="despleglable_link_menu">
			<a href="/productos_venta">Venta</a>
		<!-- 	<div class="sub_links_menu">
				<a href="/productos_venta/add">Agregar Producto</a>
				<a href="/productos_venta/enlace_bodega">Enlases Productos</a>
			</div> -->
		</div>

		<div class="despleglable_link_menu">
			<a href="/productos_bodega">Bodega</a>
			<!-- <div class="sub_links_menu">
				<a href="/productos_bodega/add">Agregar Producto</a>
				<a href="/productos_venta/enlace_bodega">Enlases Productos</a>
			</div> -->
		</div>
		<a href="/productos_bodega/pedido">Pedidos</a>

		<a href="/productos_traslado">Traslado</a>
		<a href="/productos_traslado/lista">Lista Traslado</a>
	</div>

</div>