<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>mustafa</title>

	<link rel="stylesheet" type="text/css" href="/css/estilos_especificos.css">
	<link rel="stylesheet" type="text/css" href="/css/Estilos-Generales.css">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
</head>
<body>

	{{> navegacion}}

	{{{body}}}

	<script type="text/javascript" src="/codigo/productos_venta_codigo.js"></script>
	<script type="text/javascript" src="/codigo/productos_bodega_codigo.js"></script>
	<!-- <script type="text/javascript" src="/codigo.js"></script> -->
</body>
</html>